.container{
    text-align: center;
}

.heading{
    margin-top: 150px;
    margin-bottom: 75px;
    color: green;
    background-color:blanchedalmond;
}

.status{
    margin-top: 50px;
    margin-bottom: 25px;
}
.btn{
    width: 100px;
    height: 100px;
}